.custom-card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

/* Play Button */
.custom-card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 6px 40px 10px #0B7EAE24;
}

.custom-card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

/* Play Button */
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    background-color: #0475B3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.play-button {
    font-size: 3rem;
}

.play-button img {
    width: 20px;
    height: auto;
    margin-left: 5px;
}

.play-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.student-card{
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    border-radius: 0;
    transition:  0.3s ease-in-out;

}
.student-card:hover{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transform: scale(1.01);
    }